trigger:
  branches:
    include:
      - master

pr:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  MAVEN_OPTS: '-Xmx1024m'

stages:
  - stage: BuildAndTest
    displayName: 'Build and Test'
    jobs:
      - job: MavenBuild
        displayName: 'Run Maven build'
        steps:
          - checkout: self
            fetchDepth: 0

          - task: Maven@4
            displayName: 'Maven clean test'
            inputs:
              mavenPomFile: 'pom.xml'
              goals: 'clean test'
              options: '-U'
              publishJUnitResults: true
              testResultsFiles: '**/surefire-reports/TEST-*.xml'
              jdkVersionOption: '1.21'